@import '../../global.scss';
.Home{
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: row;
    margin-top: 60px;
    .left{
        flex: 2;
        @media (max-width : $tablet) {
            display: none;
        }
        
    }
    .center{
        flex: 5;
        @media (max-width : $tablet) {
            width: 100%;
        }
    }
    .right{
        flex: 3;
        @media (max-width : $tablet) {
            display: none;
        }
    }
}