@import "../../global.scss";

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px 25px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    .left {
        flex: 3;
        a {
            text-decoration: none;
            font-size: 30px;
            font-weight: 500;
        }
    }
    .center {
        flex: 5;
        margin: auto 30px;
        @media (max-width: $tablet) {
            flex: 0;
            margin: 0;
        }
    }
    .right {
        flex: 4;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        @media (max-width: $tablet) {
            justify-content: flex-end;
        }
        .links {
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: $tablet) {
                display: none;
            }
            a {
                text-decoration: none;
                font-weight: 400;
                margin: auto 10px;
            }
        }
        .icons {
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: $tablet) {
                // transform: scale(.5);
                display: none;
                // margin: 0;
            }
            
        }
        .userImg {
            img {
                height: 42px;
                width: 42px;
                
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
                @media (max-width: $tablet) {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }
}
