.Sidebar {
    height: calc(100vh - 60px);
    // height: calc(100vh - 60px);
    overflow-y: scroll;
    scroll-behavior: smooth;
    // position: fixed;
    left: 0;
    // position: fixed;
    // width: 17vw;
    position: sticky;
    top: 60px;
    button {
        margin: 10px 20px;
        padding: 5px 20px;
    }
    hr {
        width: 80%;
    }
    .themes {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 20px;
        .facebook {
            height: 20px;
            width: 20px;
            display: flex;
            border-radius: 5px;
            cursor: pointer;
            background-color: #1877f2;
            border: 1px solid white;
        }
        .insta {
            height: 20px;
            width: 20px;
            display: flex;
            border-radius: 5px;
            cursor: pointer;
            background-color: #405de6;
            border: 1px solid white;
        }
        .behance {
            height: 20px;
            width: 20px;
            display: flex;
            border-radius: 5px;
            cursor: pointer;
            background-color: #191b1b;
            border: 1px solid white;
        }
        .default {
            height: 20px;
            width: 20px;
            display: flex;
            border-radius: 5px;
            cursor: pointer;
            background-color: crimson;
            border: 1px solid white;
        }
    }
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(180, 180, 180);
}
