.Sidebar {
    height: calc(100vh - 60px);
    overflow-y: scroll;
    scroll-behavior: smooth;
    left: 0;
    position: sticky;
    top: 60px;
    button {
        margin: 10px 20px;
        padding: 5px 20px;
    }
    hr {
        width: 80%;
    }
    .themes {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 20px;
        .facebook,
        .default,
        .insta,
        .behance {
            height: 20px;
            width: 20px;
            display: flex;
            border-radius: 5px;
            cursor: pointer;
            border: 1px solid white;
            background-color: #1877f2;
        }
        .insta {
            background-color: #405de6;
        }
        .behance {
            background-color: #191b1b;
        }
        .default {
            background-color: crimson;
        }
    }
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(180, 180, 180);
}
