.Sidebar {
    height: calc(100vh - 60px);
    // height: calc(100vh - 60px);
    overflow-y: scroll;
    scroll-behavior: smooth;
    // position: fixed;
    left: 0;
    // position: fixed;
    // width: 17vw;
    position: sticky;
    top: 60px;
    button {
        margin: 10px 20px;
        padding: 5px 20px;
    }
    hr {
        width: 80%;
    }
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(180, 180, 180);
}
